@import "./../../styles/index.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .headerTitle {
    .title {
      font-size: 24px;
      font-weight: bold;
      font-family: $fontBarlow;
    }
    .date {
      font-size: 14px;
      color: #9ca3af;
    }
  }
  .search {
    display: flex;
    align-items: center;
    background-color: #374151;
    border-radius: 8px;
    padding: 5px 10px;
    input {
      border: none;
      background: none;
      color: #ffffff;
      padding: 5px;
      outline: none;
      font-size: 14px;
    }
    i {
      color: #9ca3af;
      margin-right: 5px;
    }
  }
}
