body {
  display: flex;
  max-width: 1194px;
  height: 834px;
  width: 100%;
  background-color: #252836;
  border-radius: 16px;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
