@import "./../../../styles/index.scss";

.sidebar {
  max-width: 92px;
  width: 100%;
  height: 834px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background;
  position: relative;
  border-radius: 16px 0 0 16px;
  top: 0;
  left: 20;
  .menuItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: $background;
    margin-top: 10px;
    a {
      width: 92px;
      height: 102px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer;
      .menuItem {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .active {
      width: 92px;
      height: 102px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondaryColor;
      border-radius: 10px;
    }
  }
}
